<!-- <nav class="navbar navbar-light bg-light"> -->
<nav class="navbar navbar-light bg-dark">
    <div class="container d-grid gap-2 d-md-flex justify-content-md-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="btn btn-outline-light me-md-2" href="/auth/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-warning text-dark" aria-current="page" href="/auth/login">Login</a>
        </li>
      </ul>
    </div>
</nav>