<!-- <nav class="navbar navbar-light bg-light"> -->
<nav class="navbar navbar-light bg-dark">
    <!-- <div class="container d-grid gap-2 d-md-flex justify-content-md-end"> -->
    <div class="container gap-2 d-md-flex justify-content-md-between">
        <% if (!session.loggedIn) { %>
            <div class="d-md-flex">
                <img src="/img/chat_logo.png" style="width: 40px;" class="" alt="">
                <a class="nav-link link-light link-hover-warning " href="/">Home</a>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn btn-outline-light me-md-2" href="/auth/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-warning text-dark" aria-current="page" href="/auth/login">Login</a>
                </li>
            </ul>
        <% } else { %>
            <div class="d-md-flex">
                <img src="/img/chat_logo.png" style="width: 40px;" class="" alt="">
                <a class="nav-link link-light link-hover-warning " href="#">My Perfil</a>
                <a class="nav-link link-light link-hover-warning " href="/chats/">Social</a>
                <a class="nav-link link-light link-hover-warning " href="/chats/my_chats">My Chats</a>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-warning text-dark" aria-current="page" href="/auth/logout">LogOut</a>
                </li>
            </ul>
                
        <% } %>
    </div>

</nav>