
<!-- Jumbotron -->
<div class="jumbotron home d-flex flex-column justify-content-center align-items-center" >

  <div class="container ">

    <div class="row  ">

      <div class="col-md-7 text-white">

        <!-- Logo -->
        <figure class="text-left">
          <a href="#">
            <img class="img-logo" src="/img/chat_logo.png" alt="">
          </a>
        </figure> <!-- /.text-center -->

        <!-- Title -->
        <h1>Your awesome title here</h1>

        <!-- Sub title -->
        <p>Architecto numquam perspiciatis commodi laboriosam quod debitis placeat maxime quaerat soluta quia porro dicta sunt nemo voluptates!</p>

        <!-- Button -->
        <p class="btn-app-store pt-4">
          <a class="btn btn-warning btn-lg" href="#">
            <img src="/img/btn-app-store.png" alt="">
          </a>
        </p> <!-- /.btn-app-store -->

      </div> <!-- /.col-md-7 -->

      <div class="col-md-5">

        <!-- Images showcase -->
        <figure>
          <img class="img-iPhone" src="images/iphone/2.png" alt="">
        </figure>

      </div> <!-- /.col-md-5 -->
      
    </div> <!-- /.row -->
    
  </div> <!-- /.container -->

</div> <!-- /.jumbotron -->