<div class="d-flex align-items-center flex-column">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol> 
      </svg>

    <p class="h2 mt-3">Login</p>

    <% if (typeof status !== "undefined" && status.show) { %>
        <% status.messages.forEach(message => { %>
            <div class="alert alert-success alert-dismissible fade show mt-3 w-25 p-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% }) %>
    <% } %>

    <% if (typeof isError !== "undefined" && isError) { %>
        <div class="alert alert-danger alert-dismissible fade show mt-3 w-25 p-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <%= errors %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <form class="w-25 p-3" action="/auth/login" method="post">
        <div class="mb-3 mt-3">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <!-- <input name="email" id="email" type="email" class="form-control" aria-describedby="emailHelp"> -->
            <div class="input-group has-validation">
                <input name="email" id="email" type="email" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a email or username.
                </div>
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <!-- <input name="password" id="password" type="password" class="form-control"> -->
            <div class="input-group has-validation">
                <input name="password" id="password" type="password" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a password.
                </div>
            </div>
        </div>
        <button type="submit" class="btn bg-warning text-dark">Submit</button>
    </form>

</div>

