<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<div class="container">
    <% if (typeof isError !== "undefined" && isError) { %>
        <% errors.forEach(error => { %>
            <div class="alert alert-danger alert-dismissible fade show  mt-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% }) %>
    <% } %>

    <form action="/auth/signup" method="post">
        <div class="mb-3 mt-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <!-- <input name="name" id="name" type="text" class="form-control" aria-describedby="nameHelp"> -->
            <div class="input-group has-validation">
                <input name="name" id="name" type="text" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a name.
                </div>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <!-- <label for="exampleInputUsername1" class="form-label">Username</label>
            <input name="username" id="username" type="text" class="form-control" aria-describedby="usernameHelp"> -->
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input name="username" id="username" type="text" class="form-control" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <!-- <input name="email" id="email" type="email" class="form-control" aria-describedby="emailHelp"> -->
            <div class="input-group has-validation">
                <input name="email" id="email" type="email" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a email.
                </div>
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputBirthday1" class="form-label">Birthday</label>
            <input name="birthday" id="birthday" type="date" class="form-control" aria-describedby="birthdayHelp">
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputProfilePic1" class="form-label">Profile Picture</label>
            <input name="profilePic" id="profilePic" type="text" class="form-control" aria-describedby="profilePicHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <!-- <input name="password" id="password" type="password" class="form-control"> -->
            <div class="input-group has-validation">
                <input name="password" id="password" type="password" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a password.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordRepeated1" class="form-label">Repeat Password</label>
            <!-- <input name="passwordRepeated" id="passwordRepeated" type="password" class="form-control"> -->
            <div class="input-group has-validation">
                <input name="passwordRepeated" id="passwordRepeated" type="password" class="form-control" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a repeat password.
                </div>
            </div>
        </div>
        <button type="submit" class="btn bg-warning text-dark">Submit</button>
    </form>
</div>