<div class="container">
    <form action="/auth/signup" method="post">
        <div class="mb-3 mt-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input name="name" id="name" type="text" class="form-control" aria-describedby="nameHelp">
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputUsername1" class="form-label">Username</label>
            <input name="username" id="username" type="text" class="form-control" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" id="email" type="email" class="form-control" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputBirthday1" class="form-label">Birthday</label>
            <input name="birthday" id="birthday" type="date" class="form-control" aria-describedby="birthdayHelp">
        </div>
        <div class="mb-3 mt-3">
            <label for="exampleInputProfilePic1" class="form-label">Profile Picture</label>
            <input name="profilePic" id="profilePic" type="text" class="form-control" aria-describedby="profilePicHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" id="password" type="password" class="form-control">
        </div>
        <button type="submit" class="btn bg-warning text-dark">Submit</button>
    </form>
</div>